@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i');

* {
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}


body {
font-family: 'Open Sans';
}

a {
  text-decoration: none;
}
.header{
  width: 100%;
  height: 50px;
  background:#2980b9;
  margin: 0 auto;
}
.logo{
  float: left;
  margin-top: 4px;
}
//http://stackoverflow.com/questions/16946878/how-do-i-select-an-element-that-has-a-certain-class
//https://www.khanacademy.org/computing/computer-programming/html-css/more-css-selectors/p/combining-css-class-and-element-selectors
/*
https://www.khanacademy.org/computing/computer-programming/html-css/more-css-selectors/p/combining-css-class-and-element-selectors
http://collectui.com/
https://dribbble.com/shots/2299941-Sign-in-Modal
https://dribbble.com/shots/3278127-Roast-Site/attachments/705547
https://dribbble.com/shots/3165170-Dashboard-Navigation-Concept
https://www.materialui.co/metrocolors
https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
http://chrisarasin.com/frosted-glass-css/
https://fonts.google.com/

*/
.logo a{
  font-size: 1.6em;
  color: #fff;
}
.logo a span i {
  font-weight: 400;;
}
.container{


}
.footer{


}
.childbox{
  
}

.sidebar {
  
}
.navbar{

}
.menu-list{
  
}
.menu-item{

}
.content{
  
}

.content-wrapper {
    background: white;
}


/* * -- TABLET (AND UP) MEDIA QUERIES --  */
@media (min-width: 48em) {
  
}
/*  * -- DESKTOP (AND UP) MEDIA QUERIES -- */
@media (min-width: 78em) {

}


